@model IEnumerable<EagleTimeManagement.Models.TimeCardEntry>

@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.project)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.station)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.laborCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.hours)
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.project)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.station)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.laborCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hours)
                </td>
            </tr>
    }
        </tbody>
    </table>
}
else
{
    <h6>No Entries for this time period</h6>
}