@using System.Data.SqlClient

@{ 
    SqlConnection conn = new SqlConnection(Startup.connectionString);
    conn.Open();

    SqlCommand getEntries = new SqlCommand("csp0334GetTimecardEntries", conn)
    {
        CommandType = System.Data.CommandType.StoredProcedure
    };
    getEntries.Parameters.AddWithValue("@EmployeeID", 103);
    getEntries.Parameters.AddWithValue("@TimePeriodID", 10);

    var data = getEntries.ExecuteReader();

    var entries = new List<TimeCardEntry>();
    while(data.Read())
    {
        entries.Add(new TimeCardEntry()
        {
            date = data.GetString(data.GetOrdinal("Date")),
            project = data.GetString(data.GetOrdinal("Project")),
            station = data.GetString(data.GetOrdinal("Station")),
            laborCode = data.GetString(data.GetOrdinal("LaborCode")),
            hours = data.GetDecimal(data.GetOrdinal("Hours"))
        });
    }

    conn.Close();
    data.Close();
}


@if (entries.Count > 0)
{
    <table>
        <tr>
            <th>Date</th>
            <th>Project</th>
            <th>Station</th>
            <th>Labor Code</th>
            <th>Hours</th>
        </tr>

        <tbody>
            @foreach (var entry in entries)
            {
                <tr>
                    <td>@entry.date</td>
                    <td>@entry.project</td>
                    <td>@entry.station</td>
                    <td>@entry.laborCode</td>
                    <td>@entry.hours</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h6>No Entries for this pay period</h6>
}
